<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--ONLINE-->
    <add key="URL" value="hacker-news.firebaseio.com"/>
    <add key="URLBase" value="https://hacker-news.firebaseio.com/v0"/>
    <add key="URLMaxItemID" value="/maxitem.json"/>
    <add key="URLNewStories" value="/newstories.json"/>
    <add key="URLDetail" value="/item/"/>

    <!--DB-->
    <add key="ItemMax" value="C:\Users\Nuno Fonseca\source\repos\Santander\Sync\DB\MAX.xml"/>
    <add key="StoryDetail" value="C:\Users\Nuno Fonseca\source\repos\Santander\Sync\DB\Story\"/>
  </appSettings>
</configuration>